<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go в примери: Не е намерен</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go в примери</a></h2>
      <p>За съжаление не открихме този пример! Потърсете го в <a href="./">в началната страница</a>!</p>
{{ template "footer" }}
    </div>
  </body>
</html>
