<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go в примери</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go в примери</a></h2>
      <p>
        <a href="https://go.dev">Go</a> 
        е език за програмиране с отворен код, разработен за изграждане на
        мащабируем, сигурен и надежден софтуер.
        Моля, прочетете
        <a href="https://go.dev/doc/tutorial/getting-started"
            target="_blank">представителната документация</a>,
        за да научите повече.
      </p>

      <p>
        <em>Go в примери</em> е наръчник-въведение в Go, с помощта на обяснени
        с бележки примерни програми. Вижте
        <a href="hello-world">първия пример</a> или разгледайте пълния списък по-долу.
      </p>

      <p>
        Освен ако е упоменато друго, примерите тук предполагат използването на
        <a href="https://go.dev/doc/devel/release">последното главно издание на Go</a>
        и може да използват нови способности на езика. Обновете инсталираното
        си издание, ако нещо не работи.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
